@model TeachMe.Models.Jobs.JobMessage

@using (Html.BeginForm("_CreateMessage", "JobChat", FormMethod.Post, new { enctype = "multipart/form-data", id = "createMessageForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Новое сообщение</h4>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.JobId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Text, new { @class = "form-control", style = "max-width: 100%; width: 100%;" })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Attachments, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="uploadedFileInputContainer"></div>
                        <div>
                            <a href="#" id="addUploadedFile" data-inputnameprefix="@ViewData.TemplateInfo.HtmlFieldPrefix">Добавить</a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Отправить" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        var form = $("form#createMessageForm:first");
        var submitCreateMessageForm = function(event) {
            showLoader();
            event.preventDefault();
            var formData = new FormData(form[0]);
            $.ajax({
                url: form.attr('action'),
                data: formData,
                type: "POST",
                dataType: 'html',
                cache: false,
                async: true,
                contentType: false,
                processData: false,
                success: function(data) {
                    loadNewMessages();
                    $("#newJobMessageContainer").html(data);
                },
                error: function() {}
            }).always(function () {
                hideLoader();
            });
        }
        form.submit(submitCreateMessageForm);

        initUploadedFileBlock();
    });
</script>
@Scripts.Render("~/bundles/jqueryval")

