@using TeachMe.Extensions
@using TeachMe.Models
@model Job

@{
    ViewBag.Title = "Задача: " + Html.Encode(Model.Title);
}

<h2>Задача: @Model.Title</h2>

<div>
    <hr/>
    @Html.HiddenFor(model => model.Id, new { id = "jobId" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetSubject().Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationTicks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationTicks, "DateTimeUtcTicks")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetStudentUser().UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachments)
        </dt>

        <dd>
            @foreach (var attachment in Model.Attachments.OrderByDescending(x => x.Type))
            {
                <div style="margin: 10px 0 10px 0;">
                    @switch (attachment.Type)
                    {
                        case JobAttachmentType.Image:
                            <img src="~/Uploads/@attachment.FileName" title="@attachment.OriginFileName" style="max-width: 200px;" />
                            break;
                        default:
                            <a href="~/Uploads/@attachment.FileName" title="Скачать @attachment.OriginFileName">@attachment.OriginFileName</a>
                            break;
                    }
                </div>
            }
        </dd>
    </dl>
</div>

<div>
    @using (Html.BeginForm("Take", "Job"))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.Id)
            @if (string.IsNullOrEmpty(Model.TeacherUserId))
            {
                <input type="submit" value="Взять в работу" class="btn btn-default"/>
            }
            @Html.ActionLink("Список моих задач", "Index") |
            @Html.ActionLink("Список доступных задач", "IndexAvailable")
        </div>
    }
</div>

@if (!string.IsNullOrEmpty(Model.TeacherUserId))
{
    <h3>Обсуждение с заказчиком</h3>

    <div id="jobMessageContainer"></div>
    <div id="newJobMessageContainer">
        @Html.Action("_CreateMessage", "JobChat", new { JobId = Model.Id, area = "" })
    </div>

    <script type="text/javascript">
        $(function() {
            var jobId = $("input#jobId:first").val();
            var loadMessages = function (afterTicks) {
                afterTicks = afterTicks || 0;
                $.ajax(
                    "/JobChat/_GetMessages?jobId=" + jobId + "&afterTicks=" + afterTicks,
                    {
                        success: function (data) {
                            $("#jobMessageContainer").append(data);
                        }
                    }
                );
            }
            loadMessages();
        });
    </script>
}
