@model TeachMe.ViewModels.Jobs.JobDetailsViewModel

@{
    ViewBag.Title = "Задача: " + Html.Encode(Model.Job.Title);
}

<h2>Задача: @Model.Job.Title</h2>

@Html.Partial("_JobStatusInfo", Model.Job)

<div>
    @Html.Partial("_JobActions", Tuple.Create(Model.Job.Id, Model.JobAvailableActions))
</div>

<div>
    <hr/>
    @Html.Partial("_JobInfo", Model.Job)
</div>

<div>
    @Html.ActionLink("Список моих задач", "Index") |
    @Html.ActionLink("Список доступных задач", "IndexAvailable")
</div>

@if (Model.ChatIsVisible)
{
    <h3>Обсуждение с заказчиком</h3>

    <div id="jobMessageContainer"></div>
    <div id="newJobMessageContainer">
        @Html.Action("_CreateMessage", "JobChat", new { JobId = Model.Job.Id, area = "" })
    </div>

    <script type="text/javascript">
        $(function () {
            watchForJobStatus("@Model.Job.Id.ToString()", @((int)Model.Job.Status), ProjectAreas.Teacher);
            autoLoadNewMessages();
        });
    </script>
}
