@using TeachMe.Extensions
@using TeachMe.Models.Jobs
@using TeachMe.Areas.Teacher.Models.Jobs
@model IndexAvailableViewModel

@{
    ViewBag.Title = "Доступные задачи";
}

<h2>Доступные задачи</h2>

<div style="margin-bottom: 10px;">
    @using (Html.BeginForm("IndexAvailable", null, FormMethod.Get))
    {
        <div class="form-horizontal">
            @Html.CheckBoxFor(x => x.ShowOnlySuitableJobs, new { Id = "ShowOnlySuitableJobs" })
            @Html.LabelFor(x => x.ShowOnlySuitableJobs, new { @class = "control-label" })
        </div>
    }
</div>

<table class="table visible-xs visible-sm">
    @foreach (var item in Model.Jobs)
    {
        <tr>
            <td>
                <div>@Html.ActionLink(item.Title, "Details", new { id = item.Id })</div>
                <div style="margin-top: 5px;">
                    <span class="label label-primary">@Html.DisplayFor(modelItem => item.GetSubject().Title)</span>
                    <span class="label label-danger">@Html.DisplayFor(modelItem => item.TeacherCost) руб.</span>
                    <span class="label label-info">Автор:&nbsp;@item.GetStudentUser().UserName</span>
                    <span class="label label-default">@Html.DisplayFor(x => item.CreationTicks, "DateTimeUtcTicks")</span>
                </div>
            </td>
            <td>
                @Html.Partial("_JobActions", Tuple.Create(item.Id, new[] { JobActionType.Take }))
            </td>
        </tr>
    }
</table>

<table class="table visible-md visible-lg">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().SubjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().TeacherCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().StudentUserId)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Jobs.FirstOrDefault().CreationTicks)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model.Jobs)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GetSubject().Title)
        </td>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherCost)&nbsp;руб.
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetStudentUser().UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTicks, "DateTimeUtcTicks")
        </td>
        <td>
            @Html.Partial("_JobActions", Tuple.Create(item.Id, new[] { JobActionType.Take }))
        </td>
    </tr>
}

</table>

<script>
    $(function () {
        $("#ShowOnlySuitableJobs").click(function () {
            $(this).parents("form:first").submit();
        });
    });
</script>
