@using TeachMe.Extensions
@model IEnumerable<TeachMe.Models.Jobs.Job>

@{
    ViewBag.Title = "Мои задачи";
}

<h2>Мои задачи</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentUserId)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTicks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GetSubject().Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetStudentUser().UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTicks, "DateTimeUtcTicks")
        </td>
        <td>
            @Html.ActionLink("Просмотреть", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
