@using TeachMe.Extensions
@using TeachMe.Models.Jobs
@model IEnumerable<Job>

@{
    ViewBag.Title = "Задачи";
}

<h2>Задачи</h2>

<table class="table">
    @{
        var successJobStatuses = new[] {JobStatus.Finished, JobStatus.Accepted};
    }
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Title)</th>
        <th>Стоимость (заказчик)</th>
        <th>Стоимость (исполнитель)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().StudentUserId)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TeacherUserId)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div>@Html.ActionLink(item.Title, "Details", new {id = item.Id})</div>
                <div style="margin-top: 5px;">
                    <span class="label label-primary">@Html.DisplayFor(modelItem => item.GetSubject().Title)</span>
                    <span class="label @(successJobStatuses.Contains(item.Status) ? "label-success" : "label-warning")">@item.Status.GetHumanAnnotation()</span>
                    <span class="label label-default">@Html.DisplayFor(x => item.CreationTicks, "DateTimeUtcTicks")</span>
                </div>
            </td>
            <td>
                <span class="label label-danger">@Html.DisplayFor(modelItem => item.StudentCost) руб.</span>
            </td>
            <td>
                <span class="label label-danger">@Html.DisplayFor(modelItem => item.TeacherCost) руб.</span>
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.StudentUserId))
                {
                    var studentUser = item.GetStudentUser();
                    <span class="label label-info">@Html.DisplayFor(modelItem => studentUser.UserName)</span><br />
                    <span class="label label-warning">@Html.DisplayFor(modelItem => studentUser.PhoneNumber)</span>
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.TeacherUserId))
                {
                    var teacherUser = item.GetTeacherUser();
                    <span class="label label-info">@Html.DisplayFor(modelItem => teacherUser.UserName)</span><br />
                    <span class="label label-warning">@Html.DisplayFor(modelItem => teacherUser.PhoneNumber)</span>
                }
            </td>
        </tr>
    }
</table>
