@model TeachMe.Areas.Teacher.Models.Home.IndexJobViewModel[]
@using TeachMe.Extensions
@using TeachMe.Models.Jobs

<h2><span class="glyphicon glyphicon-search text-info"></span> Последние задачи</h2>
<hr />
@{
    var successJobStatuses = new[] { JobStatus.Finished, JobStatus.Accepted };
}
@foreach (var job in Model)
{
    <div style="margin-top: 20px;">
        <div>
            @if (job.CanBeShown)
            {
                @Html.ActionLink(job.Title, "Details", "Job", new { job.Id }, null)
            }
            else
            {
                @job.Title
            }
        </div>
        <div>
            <span class="label label-primary">@job.SubjectTitle</span>
            <span class="label label-danger">@job.Cost руб.</span>
            <span class="label @(successJobStatuses.Contains(job.Status) ? "label-success" : "label-warning")">@job.Status.GetHumanAnnotation()</span>
        </div>
    </div>
}
