@using TeachMe.Extensions
@using TeachMe.Models.Jobs
@model IEnumerable<Job>

@{
    ViewBag.Title = "Задачи";
}

<h2>Мои задачи</h2>

<p>
    @Html.ActionLink("Создать новую", "Create")
</p>

<table class="table">
    @{
        var successJobStatuses = new[] {JobStatus.Finished, JobStatus.Accepted};
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div>@Html.ActionLink(item.Title, "Details", new {id = item.Id})</div>
                <div style="margin-top: 5px;">
                    <span class="label label-primary">@Html.DisplayFor(modelItem => item.GetSubject().Title)</span>
                    <span class="label label-danger">@Html.DisplayFor(modelItem => item.StudentCost) руб.</span>
                    <span class="label @(successJobStatuses.Contains(item.Status) ? "label-success" : "label-warning")">@item.Status.GetHumanAnnotation()</span>
                    <span class="label label-default">@Html.DisplayFor(x => item.CreationTicks, "DateTimeUtcTicks")</span>
                    @if (!string.IsNullOrEmpty(item.TeacherUserId))
                    {
                        <span class="label label-info">@item.GetTeacherUser().UserName</span>
                    }
                </div>
            </td>
            <td>
                <div class="dropdown" style="float: right; margin-right: 40px;">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="@("actionDropdownMenu" + item.Id)" data-jobid="@item.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Действие
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="@("actionDropdownMenu" + item.Id)">
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>

<script>
    $(function() {
        initJobActionDropdownLoader(ProjectAreas.Student);
    });
</script>
