@model Tuple<Guid, TeachMe.Models.Jobs.JobActionType[]>
@using TeachMe.Extensions
@using TeachMe.Models.Jobs

@{
    var jobId = Model.Item1;
    var actionTypes = Model.Item2;
}

<div>
    @using (Html.BeginForm("DoJobAction", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("jobId", jobId, new { Id = "jobId" + Guid.NewGuid() })
        @Html.Hidden("jobActionType", null, new { Id = "jobActionType" + Guid.NewGuid() })
        foreach (var actionType in actionTypes)
        {
            <button data-jobactiontype="@((int) actionType)" @Html.Raw( actionType == JobActionType.Delete ? "data-jobactionconfirmation='Удалить задачу?'" : "")>@actionType.GetHumanAnnotation()</button>
        }
    }
</div>

<script>
    $(function() {
        $("button[data-jobactiontype]").click(function () {
            return doJobAction(this);
        });
    });
</script>
