@using TeachMe.Models.Users
@using TeachMe.ProjectsSupport
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.ProjectTitle : $"{ViewBag.Title} - {ViewBag.ProjectTitle}")</title>
    @if (!string.IsNullOrEmpty(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription" />
    }    
    @if (!string.IsNullOrEmpty(ViewBag.MetaKeywords))
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink((string)ViewBag.ProjectName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home", new { area = "" }, null)</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (((ApplicationUser) ViewBag.ApplicationUser).Roles.Contains(UserRole.Admin.Name))
                        {
                            <li>@Html.ActionLink("Все выплаты", "IndexAll", "Payout", new {area = ""}, null)</li>
                            <li>@Html.ActionLink("Задачи", "Index", "Job", new { area = "Admin" }, null)</li>
                        }
                        else if (((ApplicationUser)ViewBag.ApplicationUser).Roles.Contains(UserRole.Student.Name))
                        {
                            <li>@Html.ActionLink("Новая задача", "Create", "Job", new { area = "Student" }, null)</li>
                            <li>@Html.ActionLink("Мои задачи", "Index", "Job", new { area = "Student" }, null)</li>
                        }
                        else if (((ApplicationUser)ViewBag.ApplicationUser).Roles.Contains(UserRole.Teacher.Name))
                        {
                            <li>@Html.ActionLink("Мои задачи", "Index", "Job", new {area = "Teacher"}, null)</li>
                            <li>@Html.ActionLink("Доступные задачи", "IndexAvailable", "Job", new { area = "Teacher" }, null)</li>
                        }
                    }
                    <li>@Html.ActionLink("О нас", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home", new { area = "" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year – @ViewBag.ProjectTitle
                @if (ViewBag.ProjectType == ProjectType.Student && !Request.IsAuthenticated)
                {
                    @(" | ")
                    @Html.ActionLink("Заказать реферат", "Referat", "Article", new { area = "Student" }, null)
                }
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)

    @Html.Partial("_YandexMetrika")
</body>
</html>
