@model TeachMe.Areas.Student.Models.Home.IndexJobViewModel[]
@using TeachMe.Models.Jobs

<h2><span class="glyphicon glyphicon-search text-info"></span> Последние задачи</h2>
@foreach (var job in Model)
{
    var successJobStatuses = new[] { JobStatus.Finished, JobStatus.Accepted };
    <div style="margin-top: 20px;">
        <div style="font-size: 1.2em;">@job.Title</div>
        <div>
            <span class="label label-primary">@job.SubjectTitle</span>
            <span class="label label-danger">@job.Cost руб.</span>
            <span class="label @(successJobStatuses.Contains(job.Status) ? "label-success" : "label-warning")">@job.Status</span>
        </div>
    </div>
}
