@model TeachMe.Areas.Student.Models.Home.IndexUserInfoViewModel
@using TeachMe.Models.Jobs

<h2><span class="glyphicon glyphicon-user text-warning"></span> Мои задачи</h2>
<hr />
@foreach (var job in Model.Jobs)
{
    var successJobStatuses = new[] { JobStatus.Finished, JobStatus.Accepted };
    <div style="margin-top: 20px;">
        <div style="font-size: 1.2em;">@Html.ActionLink(job.Title,"Details", "Job", new { job.Id }, new object())</div>
        <div>
            <span class="label label-primary">@job.SubjectTitle</span>
            <span class="label label-danger">@job.Cost руб.</span>
            <span class="label @(successJobStatuses.Contains(job.Status) ? "label-success" : "label-warning")">@job.Status</span>
        </div>
    </div>
}
<div style="margin-top: 20px;">
    @Html.ActionLink("Добавить задачу", "Create", "Job") | @Html.ActionLink("Все мои задачи", "Index", "Job")
</div>